//
//  Config.xcconfig
//  IMAD_Project
//
//  Created by 유영웅 on 2023/05/06.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//고유 키값 설정

KAKAO_NATIVE_APP_KEY = dcee0f41332fb07eee3a8222002e16c0
REST_API_KEY = 7bfd69d7c829f438bbbef2b046837935
BASE_URL = api.iimad.com
LOCAL_URL = ncookie.xyz
APPLE_REDIRECT_URI = api.iimad.com/api/callback/apple&response_type=code%20id_token&scope=name%20email&response_mode=form_post
IMAGE_PATH = imad-image-s3.s3.ap-northeast-2.amazonaws.com/profile/
